<div class="row ensemble-row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0 text-right">
        <div class="row text-center-xs ">
          <% if member.avatar_url.nil? %>
            <%= image_tag asset_path("Official-ECCE-Logo.jpg"), class: 'ensemble-img' %>
          <% else %>
            <%= image_tag member.avatar_url, class: 'ensemble-img' %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-9 col-md-offset-0 col-lg-9 col-lg-offset-0">
        <div class="row">
          <h2>
            <%= member.name %>
          </h2>
        </div>
        <div class="row">
          <h3 class="inline">
            <%= member.role %>
          </h3>
          <p class="inline">
            <% unless member.personal_website.blank? %>
              || 
              <%= link_to "#{ member.name }'s website", member.personal_website, external: true %>
            <% end %>
          </p>
        </div>
        <div class="row bio-row">
          <p>
            <%= simple_format member.bio.gsub(/\n/, '<br/>') %>
          </p>
        </div>
      </div>  
    </div>
  </div>
</div>