<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1>
        <span class="blue-underline">
          The Etchings Festival
        </span>
      </h1>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <%= link_to "Apply to Etchings 2017", etchings_2017_url, data: { turbolinks: false } %>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <p>
            <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/>
            Our Artistic Director, composer John Aylward began the Etchings Festival in 2009, with the help of trusted collaborators at the Virginia Center for Creative Arts. Their wish to have an international program that would further their mission of arts advocacy was met with John’s desire to create a positive environment for young emerging composers, where they would develop their craft through honest, frank interactions with each other. In a hyperactive internet culture, it is more and more a unique experience to retreat to a quiet place to cultivate your art in a community of other passionate artists. To be influenced by such a community while being mentored by some of the great composers of our time and some of the best interpreters of modern music: that’s what the Etchings Festival provides. Now, we are in our 7th year, and proud of the composers we’ve cultivated, the incredible amount of music we’ve premiered and the good will we have brought into our community.
          </p>

        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <%= link_to 'Click here for more photos of past Etchings Festivals', etchings_pics_url, data: { turbolinks: false } %>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <p>
            <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Auvillar-at-Night-270x180.jpg" style="float: left; margin: 0 15px 15px 0;">
            The Etchings Festival is set in Auvillar, France, between Bordeaux and Toulouse. The Midi-Pyrenees region is secluded and preserved from centuries past. Concerts at the festival take place  in a 14th Century chapel, renovated and acoustically sublime. The village of Auvillar is deeply invested in the arts, and villagers come from across the countryside to attend festival concerts. Auvillar is on the Santiago de Compostela pilgrimage route and so often traveling pilgrims will attend festival events.
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <p>
            <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/The-Chapel-270x180.jpg" style="float: left; margin: 0 15px 15px 0">
            Participant composers meet each morning for private lessons and each afternoon for masterclasses where guests share their music and critique participant work. In the evening, the village is alive with food and wine from local vineyards. The fellows who study at Etchings come from around the world, traveling as far as Singapore and Argentina. The level of teaching is as high as any major international festival, but with the intimacy that allows for great attention and consideration to be given to each fellow. And fellows know they will receive an expert performance of their work: we rehearses each day with each fellow, resulting in stellar performances and lasting collaborations.
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <%= link_to 'Download the Etchings 2009-14 Retrospective', home_download_retrospective_url, data: { turbolinks: false } %>
          </a>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div class="row text-center">
            <div class="col-xs-6">
              <div class="std-etchings-pic">
                <%= image_tag asset_path("etchings-pics/andrew_watts.jpg") %>
                <p>
                  Fellow Andrew Watts with the ensemble
                </p>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="std-etchings-pic">
                <%= image_tag asset_path("etchings-pics/rehearsing.jpg") %>
                <p>
                  Diamanda and Laszlo Rehearsing
                </p>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="std-etchings-pic">
                <%= image_tag asset_path("etchings-pics/tsonakis.jpg") %>
                <p>
                  2012 Guest Composer George Tsontakis
                </p>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="std-etchings-pic">
                <%= image_tag asset_path("etchings-pics/futball.jpg") %>
                <p>
                  An Evening Soccer Game!
                </p>
              </div>
            </div>
          </div>
        </div>
      </divv>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</div>