<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1>
        <span class="blue-underline">
          Etchings 2017 Ensemble
        </span>
      </h1>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <%= link_to "Apply to Etchings 2017", etchings_2017_url, data: { turbolinks: false } %>
        </div>
      </div>
      <br />


      <!-- zero -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            Jean-Philippe Wurtz, conductor
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/jp.jpg"), style: "float: left; width: 220px; padding: 0 15px 15px 0"%>

            Born in 1968, Jean-Philippe Wurtz studied at the National Conservatoire of the Region of Strasbourg where he obtained first prizes in piano, chamber music, analysis. He continued his studies at the Karlsruhe Musikhochschule and received instructions from Ernest BOUR whom he met in Strasbourg. At the same time, he was admitted as a student to the International Eötvös Institute where he studied with Peter Eötvös. There he conducted the Asko and Contrechamps ensembles. In 1997, he founded the LINEA ensemble devoted to contemporary music. In 1994, he was assistant to Kent NAGANO at the Lyon Opera, then to Friedemann Layer at the Montpellier Languedoc-Roussillon Orchestra, which he regularly conducts. From 1997-99, he works as Director of the musical studies at the Operas of Montpellier.
            <br /> <br />
            He conducted following  orchestras/ensembles : l’Orchestre National de Montpellier Languedoc-Roussillon, l’Orchestre National de Bordeaux-Aquitaine, l’Orchestre National des Pays des Loire, l’ensemble oh ton, l’ensemble Alternance, le Kammerensemble Neue Musik Berlin, and worked at the Opéra National de Lyon, Opéras de Montpellier, Vlaamse Opera (Anvers), Opéra National de Paris-Bastille, with stage managers like Robert Carsen, Alfredo Arias, Daniel Mesguich, John Dew and conductors like Armin Jordan, Stuart Bedford… He performed many premieres, among them pieces by Klaus Huber, Rihm, Pagh-Paan, Lenot, Asmus, Yeznikian, Dufour, Heyn, Koch, Lang, Sprintz...
          </p>
        </div>
      </div>

      <br />
      <br />

      <!-- one -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            Roberta Michel, flute
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/roberta.jpg"), style: "float: left; width: 150px; padding: 0 15px 15px 0"%>

            Roberta Michel is a freelance flutist in New York City. Praising her “extreme adventurousness,” New York Concert Review said she “riveted with her performance, inspiring one to want a repeated hearing.” Michel is a member of Cadillac Moon Ensemble and has performed with: Portland String Quartet, Newspeak, Ensemble ECCE, SEM Ensemble, Wet Ink Ensemble, Argento, Iktus, Wordless Music Orchestra, and Cygnus Ensemble among others. She can be heard on New Dynamic, Innova, Tzadik, and Meta Records. Michel has been a Bang on a Can Summer fellow and a participant in IFCP, Banff, and Domaine Forget. Michel holds degrees from the CU-Boulder, SUNY-Purchase College, and the City University of New York Graduate Center. Her teachers include Robert Dick, Tara O’Connor, and Alexa Still.
          </p>
        </div>
      </div>

      <br />
      <br />
      <!-- seven -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            Keiko Murakami, flute
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/keiko.jpg"), style: "float: left; width: 150px; padding: 0 15px 15px 0"%>

            After her studies in music education at Shimane University (Japan) where she learned flute with Tomoko Nozaka, Keiko Murakami studied flute with Mario Caroli and Claire Gentilhomme, and chamber music with Armand Angster at the Conservatory of Strasbourg where she obtained her diplomas with the highest marks. She also studied musical theater with Georges Aperghis and Françoise Rivalland at Hochschule der Künste in Bern. Keiko Murakami obtained a “master professional” in interpretation at Strasbourg University.
            <br /> <br />
            Since 2003, Keiko Murakami is principal flutist with Ensemble Linea, with whom she has given numerous world premiers. She is also one of the founding members of L'Imaginaire Musiques d'idées, a group founded in Strasbourg in 2008, in which the composers and instrumentalists work together in search of a new approach to musical creation. She is also a member of oh-ton ensemble in Oldenburg. Keiko's musical palette is wide-ranging, from baroque to contemporary repertoire, and she is particularly interested in collaboration with new composers and artists from other domains, as well as giving concerts entirely created by herself. Daniele Bravi, Eric Maestri, Dominique Delahoche, Ivan Solano, Andrea Sarto, and Paolo Aralla dedicated theirs works to her.
            <br /> <br />
            As a soloist and a chambrist, Keiko Murakami performed with conductors like Jean-Philippe Wurtz, Diego Masson, Beat Furrer, Marco Angius, and has performed in a number of festivals throughout Europe and in Japan : Biennale di Venezia, Musica (Strasbourg/France), Trans’art (Bolzano/Italy), Huddersfield Contemporary Musique Festival, International Ferienkurse für Neue Musik (Darmstadt/Germany), Ciclo de Conciertos de Musica Contemporanea (Buenos Aires/Argentina), Musiques Démesurées (Clermont-Ferrand/France), Nouvelle Strasbourg Danse, Akiyoshidai Contemporary Music Seminar and Festival (Japon), Biennale de Berne, Aspects des Musiques d'Aujourd'hui (Caen/France), Cantiere Internazionale d'Arte di Montepulciano, etc.
          </p>
        </div>
      </div>

      <br />
      <br />
      <!-- two -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            Hassan Anderson, oboe
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/hassan.jpg"), style: "float: left; width: 150px; padding: 0 15px 15px 0"%>

            Oboist Hassan Anderson is a graduate of The Juilliard School of Music in New York City. He recently received his Master of Music degree in Oboe Performance under the tutelage of Nathan Hughes and additional studies with Pedro Diaz, Elaine Douvas and Linda Strommen. A native of Jacksonville, Fl Mr. Anderson received his Bachelor of Music degree from Stetson University, studying with Ann Adams. Mr. Anderson has also served as an oboe fellow at the Marlboro Music Festival in Marlboro, Vermont for the last three consecutive summers on a full tuition scholarship. With a tremendous dedication to music education and pedagogy, Mr. Anderson is currently in his second year as a Teaching Artist with Jazz House Kids. In a partnership between Jazz House Kids and Link Community School of Newark, NJ Mr. Anderson teaches a 7th and 8th grade curriculum with a concentration in Jazz Music History, Tonal Harmony/Theory, Functional Piano, and Show Choir. In his free time Mr. Anderson enjoys reading, reed making, running and enjoying the company of his wonderful friends and family.
          </p>
        </div>
      </div>

      <br />
      <br />

      <!-- three -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            Jennifer Choi, violin
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/jen.jpg"), style: "float: left; width: 150px; padding: 0 15px 15px 0"%>

            Violinist Jennifer Choi has charted a career that breaks through the conventional boundaries of solo violin, chamber music, and the art of creative improvisation. Often sighted in solo performances of rare works that stretch the limits of violin playing often calling for extended techniques, improvisation, and the use of electronics, she has championed over 100 new music works including works written for her by composers like John Zorn, Randall Woolf, Orlando Garcia, and US premieres of Jacob TV and Helmut Lachenmann. Since giving her debut recital at Carnegie’s Weill Recital Hall in NY in 2000, Jennifer has performed in venues like the Library of Congress, Alice Tully Hall, Cité de la Musique in Paris, the RAI National Radio in Rome, RTHK radio in Hong Kong, and is a fixture in NYC performances at LPR, the Stone, and Miller Theater. A prominent chamber musician, Jennifer was former violinist of the Miró String Quartet, ETHEL, and Sirius Quartets. She has performed for the Chamber Music Society of Lincoln Center, Ravinia Festival, Caramoor Music, Barge Music. As a an improvisor, she has toured Europe and North America with Susie Ibarra and Craig Taborn. She can be heard on over a dozen albums on TZADIK record label as well as on Starkland and New Focus labels, and on the 2016 Golden Globe winning series, Mozart in the Jungle.
          </p>
        </div>
      </div>

      <br />
      <br />

      <!-- four -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            Johannes Burghoff, cello
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/johannas.jpg"), style: "float: left; width: 200px; padding: 0 15px 15px 0"%>

            Johannes Burghoff is born in Ghent (Belgium) in 1979. He starts to learn to play cello with Jan Van Kelst at the Bruges Music Academy, and studies piano in Ghent with Sylvia Bernier. In 1998, he enters the Music Royal Academy in Liege to study cello with Maryse Douin and chamber music with Cécile Evrard. In 2001, he is student of Marc Coppey at the Strasbourg Music Academy. Three years later, he obtains a degree in cello with unanimous recognition of the jury, and a degree in chamber music (with professor : Denis Dercourt) with a very good pass. One year after, he is graduate of the advanced level in those disiplines, again with the unanimous praises of the jury. In 2006, he obtains the prestigious « concert degree » and follows a specialisation course in cello with Alexander Somov at the Strasbourg Music Academy.
            <br /> <br />
            Johannes was attending to masterclasses of János Starker in 2004, Raphaël Pidoux and Anssi Karttunen in 2005, Marin Cazacu in 2007. He performs as soloist, chamber musician or in orchesters. In 2005, 2007 and 2008, he takes part at both Musica and Champs Libres festivals in Strasbourg.
            <br /> <br />
            Johannes is member and founder of Trio Mistral who played two times in Japan, and toured also in Belgium, Germany, Italy and France. He is currently cellist at the Antwerp Royal Philharmonic Orchester, and plays also since 2003 at the Beethovenacademie in Antwerp. He works as supply musician in Strasbourg Philharmonic Orchestra.
            <br /><br />
            He is teaching since seven years in music schools and as private professor.
          </p>
        </div>
      </div>

      <br />
      <br />

      <!-- six -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            Julia Den Boer
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/julia.jpg"), style: "float: left; width: 220px; padding: 0 15px 15px 0"%>

            French-American pianist Julia Den Boer is a strong advocate of contemporary music. Based in New York city, she performs internationally and has commissioned and premiered numerous works. She is committed to exploring and pushing her instrument’s boundaries through close collaboration with composers and has had the opportunity to work with some of the most prominent composers of our time such as Heinz Holliger, Philippe Leroux, Ned Rorem, Martin Matalon and Kaija Saariaho. 
            <br /><br />
            Julia is a native of Lyon, France and holds a doctorate of musical arts from SUNY Stony Brook University where she studied with Gilbert Kalish. She is on faculty at the Bloomingdale School of Music and holds the position of music director at the Church of the Ascension in Greenpoint Brooklyn.

          </p>
        </div>
      </div>

      <br />
      <br />

      <!-- nine -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            László Hudacsek, percussion
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/laszlo.jpg"), style: "float: left; width: 220px; padding: 0 15px 15px 0"%>

            Percussionist László Hudacsek was born in Hungary. He has been a soloist with the Berlin Symphony Orchestra, Bruckner Orchestra Linz, Ensemble Resonanz Hamburg, Slovak Radio Symphony Orchestra, Stuttgart Chamber Orchestra under conductors James Conlon, Heinz Holliger, Péter Eötvös, Mauricio Kagel, Roland Kluttig, Zsolt Nagy, Karlheinz Stockhausen...
            <br /> <br />
            He completed his Concert Exam with honors, and subsequently studied percussion in Debrecen with József Vrana and in Karlsruhe with Professor Isao Nakamura and Prof. Péter Eötvös in his ensemble for new music. From 1990-93 he was percussionist with the Pécser Symphony. From 1994-2000 he was an assistant and musical partner to professor Nakamura.

            <br /> <br />
            He has appeared in prestigous concert halls across Europe, America and Asia, among others the Concertgebow (Amsterdam), "Konzerthaus" as well as the chamber music hall of the "Philharmonie" (Berlin), Philharmonic Concert Hall and WDR (Cologne), I.C.A. (London), Radio France: Messiaen Hall (Paris), Spanish Hall (Prague), Mozarteum (Salzburg), "Liederhalle" (Stuttgart),"Konzerthaus"(Vienna), Music Centre (Jerusalem), "Museum of Art" (Tel Aviv), Sala Cecilia Meirelles (Rio de Janeiro), Bario Hall (Tokyo), Alti Hall (Kyoto)...


          </p>
        </div>
      </div>
      











<br /> <br /><br /> <br />
      </div>
    </div>
  </div>
</div>