<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1>
        <span class="blue-underline">
          Pictures of Past Etchings
        </span>
      </h1>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <%= link_to "Apply to Etchings 2017", '#', data: { turbolinks: false } %>
        </div>
      </div>
      <br />
      </br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div class="row text-center">

            <div class="col-xs-6">
              <div class="std-etchings-pic">
                <%= image_tag asset_path("etchings-pics/lookout.jpg") %>
                <p>
                   Lookout over Auvillar
                </p>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="std-etchings-pic">
                <%= image_tag asset_path("etchings-pics/lee.jpg") %>
                <p>
                  Lee Hyla in Masterclass (2011)
                </p>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="std-etchings-pic">
                <%= image_tag asset_path("etchings-pics/garth.jpg") %>
                <p>
                  Etchings Concert with guest Garth Knox (2014)
                </p>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="std-etchings-pic">
                <%= image_tag asset_path("etchings-pics/andre.jpg") %>
                <p>
                  Mark Andre in Masterclass (2015)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>