<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <div class="row text-center">
            <div class="col-xs-4">
              <%= image_tag asset_path("Official-ECCE-Logo.jpg"), style: "width: 200px;" %>

              <br />
              <br />
            </div>
            <div class="col-xs-8 text-left">
              <h1>
                <span class="blue-underline">
                  
                  ecce
                </span>
              </h1>
              <br />
              <p>
                ecce is a community of culturally and socially engaged creative and performing artists. Core to its mission is collaboration with creative thinkers across disciplines: science, technology and social justice.
              </p>
              <br />
              <p>
              At the heart of our community is a group of our generation’s most <a href="/ensemble"> accomplished performers </a> who are committed to presenting music, theater and interdisciplinary art in a captivating and visionary way. By engaging science, technology and a full range of artistic media, ecce seeks to create <a href="/our_season">experiences</a> that inspire new thinking and social change.
            </p>
            </div>
          </div>
          <br />
          <div class="row">
            
          </div>
          <div class="row text-center">
            <div class="col-xs-4">
              <div class="std-etchings-pic" style="background-color: white;">
                <%= image_tag asset_path("clapping.jpg") %>
                <p>
                   ecce in Auvillar, France
                </p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="std-etchings-pic" style="background-color: white;">
                <%= image_tag asset_path("full-group.jpg") %>
                <p>
                   ecce at EMPAC, NY
                </p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="std-etchings-pic" style="background-color: white;">
                <%= image_tag asset_path("ecce-home-meow.jpg"), style: "width: 59%" %>
                <p>
                   ecce at Harvard University

                </p>
              </div>
            </div>
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="container">
  <div class="row text-center">
    <div class="homebackground">
      <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-lg-12">
        <div class="floating-whiteness">
          <h1>
            ECCE ARTS
          </h1>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container background-white">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%#= image_tag asset_url("ecce-background-1.jpg"), class: '', style: 'margin-top: 15px; width: 100%;' %>
    </div>
  </div>
  <br />
</div> -->
<!-- 
<div class="container background-white full-height">
  <br />
  <br />
  <div class="row background-white">
    <!-- <div class="col-xs-6">
      <%#= image_tag asset_url("ecce-home-meow.jpg"), class: '', style: 'width: 100%;' %> -->
      <!-- <div class="col-xs-6">
        <div class="std-etchings-pic">
          <%= image_tag asset_path("etchings-pics/lookout.jpg") %>
          <p>
             Lookout over Auvillar
          </p>
        </div>
      </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="main-title">
            <span class="blue-underline">
              Ecce Arts
            </span>
          </h1>
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p>
            Ecce is a community of culturally and socially engaged creative and performing artists. Core to its mission is collaboration with creative thinkers across disciplines: science, technology and social justice.
          </p>
          <br />
          <p>
            At the heart of our community is a group of our generation’s most accomplished performers who are committed to presenting music, theater and interdisciplinary art in a captivating and visionary way. By engaging science, technology and a full range of artistic media, Ecce seeks to create experiences that inspire new thinking and social change.
          </p>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
 -->