
<div id="links">
  <div class="meow" style="width: 100px; display: inline;">
    <%= link_to( image_tag("ecce-background-1.jpg"), image_path('ecce-background-1.jpg'), :title => "background image 1", :data => { :gallery => 'gallery' } ) %>
  </div>
  <div class="meow" style="width: 100px; display: inline;">
    <%#= link_to( image_tag("ECCE-background.jpg"), image_path('ECCE-background.jpg'), :title => "background image 2", :data => { :gallery => 'gallery' } ) %>
    <%= link_to( image_tag("ecce-background-1.jpg"), image_path('ecce-background-1.jpg'), :title => "background image 1", :data => { :gallery => 'gallery' } ) %>
  </div>
  <div class="meow" style="width: 100px; display: inline;">
    <%#= link_to( image_tag("ecce-home-meow.jpg"), image_path('ecce-home-meow.jpg'), :title => "home meow", :data => { :gallery => 'gallery' } ) %>
    <%= link_to( image_tag("ecce-background-1.jpg"), image_path('ecce-background-1.jpg'), :title => "background image 1", :data => { :gallery => 'gallery' } ) %>
  </div>
</div>


<div id="links2">
  <div class="meow" style="width: 100px; display: inline;">
    <%#= link_to( image_tag("ecce-background-1.jpg"), image_path('ecce-background-1.jpg'), :title => "background image 1", :data => { :gallery => 'gallery' } ) %>
    <%= link_to( image_tag("ECCE-background.jpg"), image_path('ECCE-background.jpg'), :title => "background image 2", :data => { :gallery => 'gallery' } ) %>
  </div>
  <div class="meow" style="width: 100px; display: inline;">
    <%= link_to( image_tag("ECCE-background.jpg"), image_path('ECCE-background.jpg'), :title => "background image 2", :data => { :gallery => 'gallery' } ) %>
  </div>
  <div class="meow" style="width: 100px; display: inline;">
    <%#= link_to( image_tag("ecce-home-meow.jpg"), image_path('ecce-home-meow.jpg'), :title => "home meow", :data => { :gallery => 'gallery' } ) %>
    <%= link_to( image_tag("ECCE-background.jpg"), image_path('ECCE-background.jpg'), :title => "background image 2", :data => { :gallery => 'gallery' } ) %>
  </div>
</div>