<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>
          <%= project.title %>
        </h1>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h3>
          <%= project.sub_title %>
        </h3>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <p>
          <%= simple_format project.description %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <p>
          <%= project.cost %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <% unless project.avatar_url.nil? %>
          <%= image_tag project.avatar_url, class: '', style: 'width: 100px' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= link_to "Edit Project", edit_admin_project_path(project), class: 'btn btn-primary' %>
          <% if current_admin.god_mode? %>

            <%= link_to "Delete Project", admin_project_path(project), method: 'delete', class: 'btn btn-danger' %>
            <% if project.hidden %>
              <%= link_to "UnHide Project", admin_hide_project_path(project), method: 'post', class: 'btn btn-warning' %>
            <% else %>
              <%= link_to "Hide Project", admin_hide_project_path(project), method: 'post', class: 'btn btn-warning' %>
            <% end %>
          <% else %>
            <!-- regular admins can't be trusted to not-delete important things -->
            <%= link_to "Delete Project", admin_hide_project_path(project), method: 'post', class: 'btn btn-danger' %>
          <% end %>
      </div>
    </div>
  </div>
</div>