<div class="row project-show-row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="project-show-panel">
      <div class="row">
        <!-- hidden img for modile -->
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
          <% unless project.avatar_url.nil? %>
            <%= image_tag project.avatar_url, class: 'project-img' %>
          <% end %>
        </div>

        <!-- description -->
        <div class="col-xs-12 col-sm-7 col-sm-offset-0 col-md-7 col-lg-7 text-right">
          <!-- title -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center-xs">
              <h1>
                <%= project.title %>
              </h1>
            </div>
          </div>
          <!-- sub title -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center-xs">
              <h2>
                <%= project.sub_title %>
              </h2>
            </div>
          </div>
          <!-- description -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center-xs">
              <p>
                <%= simple_format project.description %>
              </p>
            </div>
          </div>
          <!-- give button -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center-xs">
              <p>
                <%#= project.cost %>
              </p>
            </div>
          </div>
        </div>

        <!-- img for tablet + -->
        <div class="hidden-xs col-sm-5 col-md-5 col-lg-5">
          <% unless project.avatar_url.nil? %>
            <%= image_tag project.avatar_url, class: 'project-img' %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>