<div class="row item-show-row background-white">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="row">
      <div class="col-xs-2">
        <div class="row">
          <% unless !item.date %>
            <div class="item-date">
              <%= item.date.strftime("%b %d") %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-10">
        <div class="row">
          <h2 class="item-title item-left-padding">
            <%= item.title %>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <div class="row">
          <div class="blue-item-dets">
            <p class="blue item-left-padding inline">
              <%= item.location %>
            </p>
            <% unless !item.date %>
              <p class="inline">
                || 
              </p>
              <p class="inline blue">
                <%= item.date.strftime("%A") %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <div class="row">
          <div class="item-left-padding">
            <%= simple_format item.description %>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <div class="row">
          <div class="item-left-padding">
            <p class="bold" style="margin-bottom: 10px;">
              <%= item.price_line %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <div class="row">
          <div class="item-left-padding">
            <%= item.donate_button.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>